<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>ErrorValidation</td><td>validateLoginScenarios.verifyAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]<br/></td></tr>
</table>
