<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="e9b5a8">  <td>23/04/17 18:25:36</td>   <td>2882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">verifyAttempts</td> 
  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:37</td>   <td>3286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:37</td>   <td>3403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="e9b5a8">  <td>23/04/17 18:25:39</td>   <td>5360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyBlankPasswordAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">verifyBlankPasswordAttempts</td> 
  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:39</td>   <td>5615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:39</td>   <td>5709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="e9b5a8">  <td>23/04/17 18:25:41</td>   <td>7673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyBlankPasswordAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">verifyBlankPasswordAttempts</td> 
  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:41</td>   <td>7943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:41</td>   <td>8036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="e9b5a8">  <td>23/04/17 18:25:43</td>   <td>10014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyBlankPasswordAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">verifyBlankPasswordAttempts</td> 
  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:44</td>   <td>10272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:44</td>   <td>10375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="e9b5a8">  <td>23/04/17 18:25:46</td>   <td>12737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyInavildAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">verifyInavildAttempts</td> 
  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:46</td>   <td>13014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:46</td>   <td>13084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="e9b5a8">  <td>23/04/17 18:25:49</td>   <td>15404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyWrongPasswordAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">verifyWrongPasswordAttempts</td> 
  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:49</td>   <td>15706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:49</td>   <td>15772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="e9b5a8">  <td>23/04/17 18:25:51</td>   <td>17913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyWrongUserAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">verifyWrongUserAttempts</td> 
  <td>main@607932305</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/04/17 18:25:52</td>   <td>18220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@e056f20]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@607932305</td>   <td></td> </tr>
</table>
