<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>ErrorValidation</td><td>validateLoginScenarios.verifyAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]<br/></td></tr>
<tr><td>Sanity</td><td>orderCheckout.filterListedItems(java.util.HashMap)[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]<br/></td></tr>
</table>
