<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>23/04/17 18:07:45</td>   <td>3025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orderCheckout.checoutPage()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">checoutPage</td> 
  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/04/17 18:07:45</td>   <td>3154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">verifyAttempts</td> 
  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:46</td>   <td>3542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:46</td>   <td>3654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/04/17 18:07:48</td>   <td>6061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyBlankPasswordAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">verifyBlankPasswordAttempts</td> 
  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:49</td>   <td>6643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:49</td>   <td>6788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/04/17 18:07:51</td>   <td>9487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyInavildAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">verifyInavildAttempts</td> 
  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:52</td>   <td>9860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:52</td>   <td>9972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/04/17 18:07:55</td>   <td>12634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyWrongPasswordAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">verifyWrongPasswordAttempts</td> 
  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:55</td>   <td>12701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:55</td>   <td>12893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:55</td>   <td>13080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:55</td>   <td>13180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>23/04/17 18:07:58</td>   <td>15500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orderCheckout.editCartItem()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">editCartItem</td> 
  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/04/17 18:07:58</td>   <td>15873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyWrongUserAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">verifyWrongUserAttempts</td> 
  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:58</td>   <td>16160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:59</td>   <td>16868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:59</td>   <td>17254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>23/04/17 18:08:01</td>   <td>19200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orderCheckout.filterListedItems(java.util.HashMap)[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">filterListedItems</td> 
  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:08:03</td>   <td>20629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:08:03</td>   <td>20720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>23/04/17 18:08:05</td>   <td>22712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orderCheckout.filterListedItems(java.util.HashMap)[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">filterListedItems</td> 
  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:08:21</td>   <td>39182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
</table>
