<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b577ab">  <td>23/04/17 18:07:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orderCheckout.checoutPage()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">checoutPage</td> 
  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>23/04/17 18:07:58</td>   <td>12475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orderCheckout.editCartItem()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">editCartItem</td> 
  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>23/04/17 18:08:01</td>   <td>16175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orderCheckout.filterListedItems(java.util.HashMap)[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">filterListedItems</td> 
  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>23/04/17 18:08:05</td>   <td>19687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orderCheckout.filterListedItems(java.util.HashMap)[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">filterListedItems</td> 
  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:42</td>   <td>-3025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:42</td>   <td>-3025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:46</td>   <td>629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:49</td>   <td>3763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:52</td>   <td>6947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:55</td>   <td>9868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:55</td>   <td>10155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:59</td>   <td>14229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:08:03</td>   <td>17695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.luanchBrowser()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&gt;&gt;luanchBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:46</td>   <td>517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:49</td>   <td>3618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:52</td>   <td>6835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:55</td>   <td>9676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:55</td>   <td>10055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:58</td>   <td>13135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:07:59</td>   <td>13843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:08:03</td>   <td>17604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>23/04/17 18:08:21</td>   <td>36157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pagedesign.test.orderCheckout@49c7b90e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@168799268</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/04/17 18:07:45</td>   <td>129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">verifyAttempts</td> 
  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/04/17 18:07:48</td>   <td>3036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyBlankPasswordAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">verifyBlankPasswordAttempts</td> 
  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/04/17 18:07:51</td>   <td>6462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyInavildAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">verifyInavildAttempts</td> 
  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/04/17 18:07:55</td>   <td>9609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyWrongPasswordAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">verifyWrongPasswordAttempts</td> 
  <td>TestNG@1164832557</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/04/17 18:07:58</td>   <td>12848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLoginScenarios.verifyWrongUserAttempts()[pri:0, instance:pagedesign.test.validateLoginScenarios@156b88f5]">verifyWrongUserAttempts</td> 
  <td>TestNG@1164832557</td>   <td></td> </tr>
</table>
